.navbar {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: .1em 3em;
}

.logo_container {
    cursor: pointer;
    width: 7rem;
}

.hack_navbar {
    padding-top: 1.5em;
}

.nav_items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
}

.nav_list {
    gap: 2.5rem;
    color: white;
    font-weight: var(--fw-lighter);
}

.schedule_btn {
    background: var(--primary-400);
}

.hamburger_container {
    display: none;
}

.hero_image {
    position: absolute;
    top: 0;
    z-index: -1;
    /* filter: brightness(70%); */
}

.hero_content_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    position: absolute;
    top: 35%;
    left: 5%;

    overflow: hidden;
}

.hero_first_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero_title {
    display: flex;
    flex-direction: column;
}

.hero_title_styling {
    color: white;
    font-family: var(--ff-secondary);
    font-size: 5rem;
    font-weight: var(--fw-bold);

    letter-spacing: 1px;
}

.hero_title_styling>p+p {
    margin-left: auto;
}

.small_title {
    font-size: 2rem;
}

.explore_btn {
    border: 3px solid var(--primary-600);
    font-weight: var(--fw-light);

    background: var(--neutral-900);
    color: var(--primary-600);

    padding: 1em 1.5em;
    letter-spacing: 1px;

    width: 10rem;

    cursor: pointer;
}

.explore_btn>.right_arrow {
    color: white;
    margin-left: .5rem;
    width: 1rem;
}

.hero_text {
    color: white;
    opacity: .6;
    width: 30rem;
}

.heading_extrabold:nth-of-type(1),
.heading_extrabold:nth-of-type(2),
.explore_btn,
.hero_text {
    transition: transform var(--transition-7), opacity var(--transition-7);
}

.text_invisibility .heading_extrabold:nth-of-type(1) {
    transform: translateX(-100%);
    opacity: 0;
}

.text_invisibility .heading_extrabold:nth-of-type(2) {
    transform: translateX(100%);
    opacity: 0;
}

.text_invisibility .explore_btn,
.text_invisibility .hero_text {
    transform: translateY(100%);
    opacity: 0;
}