


/* .hero_section {
    position: relative;
} */

.navbar{
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: .5em 3em;
}

.logo_container {
    width: 8rem; 
}

.hack_navbar{
    padding-top: 1.5em;
}

.nav_items_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 8rem;
}

.nav_list{
    gap: 4rem;
    color: white;
    font-weight: var(--fw-lighter);
}

.schedule_btn{
    background: var(--primary-600);
    cursor: pointer;
    font-weight: var(--fw-lighter);
}

/* .hero_section{
    position: relative;
} */



.hero_image{
    position: absolute;
    top: 0;
    z-index: -1;
    /* background-color: black; */
    /* background: black; */
    /* filter: brightness(70%); */

    background-image: linear-gradient(black, white);
    
}

/* .black_shade{
    position: absolute;
   
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
} */

.hero_title_container{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: .5em 3em;

    position: absolute;
    top: 35%;
}

.hero_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* position: relative; */
}

.hero_title_styling{
    color: white;
    font-family: var(--ff-secondary);
    font-size: 3rem;
    font-weight: var(--fw-bold);

    letter-spacing: 1px;
    /* line-height: 100%; */

    /* margin-top: 10rem; */
}

.hero_title h1 + h1{
  position: absolute;
  top: 20%;
  left: 40%;
}

#small_title {
    font-size: 2rem;
}

.explore_btn {
    border: 3px solid var(--primary-600);
    font-weight: var(--fw-light);

    background: var(--neutral-900);
    color: var(--primary-600);

    padding: 1em 2em;
    letter-spacing: 1px;

    cursor: pointer;
}

.explore_btn > span {
    color: white;
}

.hero_text_cont{
    width: 25rem;
}

.hero_text {
    color: white;
    opacity: .8;
}
